
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: rgb(171, 171, 171);
}
.container{
    background-color: aqua;
    height: 500px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
}
.calcu .inbox{
    height: 110px;
    width: 340px;
    border-radius: 10px;
    margin-top: 5px;
    border: none;
    background: black;
    text-align: end;
    font-size: 50px;
    color: #fff;

}
.butt{
    margin-top: 30px;
    margin-left: 10px;
    padding-left: 20px;

}
.butt .opprators{
    margin-bottom: 30px;
    height: 50px;
    width: 50px;
    margin-right: 26px;
    border-radius: 3px;
    background-color: rgb(115, 144, 240);
    font-size: 25px;

}
.butt .number{
    margin-bottom: 20px;
    height: 50px;
    width: 50px;
    margin-right: 26px;
    border-radius: 3px;
    background-color: rgb(234, 234, 237);
    font-size: 25px;
}
.butt .equal{
    margin-bottom: 20px;
    height: 50px;
    width: 50px;
    margin-right: 26px;
    border-radius: 3px;
    background-color: rgb(61, 247, 92);
    font-size: 25px;
}
.butt .cencel{
    height: 50px;
    width: 300px;
    margin-right: 26px;
    border-radius: 10px;
    background-color: rgb(247, 61, 61);
    font-size: 25px;
} 


